<?xml version="1.0"?>
<ajaxactionlist xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ajaxaction ajaxname="UserLogin" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.UserLogin" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="RemeberMyPass" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.RemeberMyPass" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="Logout" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.Logout" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexMap" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexMap" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexMonthEnery" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexMonthEnery" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <!--<ajaxaction ajaxname="indexCompare" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexCompare" ajaxdllspacename="NTS.WEB.AjaxController"/>-->
  <ajaxaction ajaxname="indexCompare" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexCompareNew" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexOrderList" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexOrderList" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexLook" ajaxmethod="NTS.WEB.AjaxController.AjaxIndex.IndexLook" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="eneryquery" ajaxmethod="NTS.WEB.AjaxController.AjaxEneryQuery.BasicQuery" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="objecttree" ajaxmethod="NTS.WEB.AjaxController.AjaxTree.ObjectTree" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="devicetree" ajaxmethod="NTS.WEB.AjaxController.AjaxTree.DeviceTree" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="lazydevicetree" ajaxmethod="NTS.WEB.AjaxController.AjaxTree.LazyDeviceTree" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="shoporder" ajaxmethod="NTS.WEB.AjaxController.AjaxShopOrder.GetShopOrder" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="shopordernew" ajaxmethod="NTS.WEB.AjaxController.AjaxShopOrder.GetShopOrderNew" ajaxdllspacename="NTS.WEB.AjaxController"/>
  
  <ajaxaction ajaxname="realtime" ajaxmethod="NTS.WEB.AjaxController.AjaxRealTime.GetRealTime" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexElectricityPieChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.IndexElectricityPieChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexElectricityLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.IndexElectricityLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="queryPieChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.QueryPieChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="showQueryLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ShowQueryLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="exportQueryLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ExportQueryLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="showCompareLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ShowCompareLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="realChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.RealChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="exportExcelDataRanking" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ExportExcelDataRanking" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="exportExcelDataRankingNew" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ExportExcelDataRankingNew" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetWarningListByPage" ajaxmethod="NTS.WEB.AjaxController.AjaxWarningAnalysis.GetWarningListByPage" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetWarningTypeList" ajaxmethod="NTS.WEB.AjaxController.AjaxWarningAnalysis.GetWarningTypeList" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetBalanaceValueByMonth" ajaxmethod="NTS.WEB.AjaxController.AjaxBalanceAnalysis.GetBalanaceValueByMonth" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <!--add by dxy-->
  <ajaxaction ajaxname="indexElectricRealLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.IndexElectricRealLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexItem" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.IndexItem" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="deviceRealChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.DeviceRealChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="indexDeviceList" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.IndexDeviceList" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <!--add by jy-->
  <ajaxaction ajaxname="ReportExcel" ajaxmethod="NTS.WEB.AjaxController.AjaxComplexReport.ExportEnergy" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <!--<ajaxaction ajaxname="Complex_ExportAllEnergy" ajaxmethod="NTS.WEB.AjaxController.AjaxComplexReport.ExportAllEnergy" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="Complex_ExportItemEnergy" ajaxmethod="NTS.WEB.AjaxController.AjaxComplexReport.ExportItemEnergy" ajaxdllspacename="NTS.WEB.AjaxController"/>-->
  <ajaxaction ajaxname="Complex_GetReportType" ajaxmethod="NTS.WEB.AjaxController.AjaxComplexReport.GetReportType" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="objectItemTree" ajaxmethod="NTS.WEB.AjaxController.AjaxTree.objectItemTree" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexContrastChart" ajaxmethod="NTS.WEB.AjaxController.AjaxEnergyContrast.IndexContrastChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexContrastLst" ajaxmethod="NTS.WEB.AjaxController.AjaxEnergyContrast.IndexContrastList" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexContrastPeriodsChart" ajaxmethod="NTS.WEB.AjaxController.AjaxEnergyContrast.IndexContrast" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="IndexContrastPeriodssLst" ajaxmethod="NTS.WEB.AjaxController.AjaxEnergyContrast.IndexContrastPeriodssLst" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="ExportContrast" ajaxmethod="NTS.WEB.AjaxController.AjaxEnergyContrast.ExportContrast" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetFeeApportion" ajaxmethod="NTS.WEB.AjaxController.AjaxFee_Apportion.GetFeeApportion" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="ExportFeeApportion" ajaxmethod="NTS.WEB.AjaxController.AjaxFee_Apportion.ExportFeeApportion" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="ExportLoadForecast" ajaxmethod="NTS.WEB.AjaxController.AjaxLoadForecast.ExportLoadForecast" ajaxdllspacename="NTS.WEB.AjaxController"/>
  
  <!--add by jy-->

  <ajaxaction ajaxname="GetAreaTree" ajaxmethod="NTS.WEB.AjaxController.AjaxAreaTree.GetAreaTree" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="showQueryLineChartNew" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ShowQueryLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="showCompareLineChartNew" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ShowCompareLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetMenuModule" ajaxmethod="NTS.WEB.AjaxController.AjaxMenuTree.GetMenus" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetUsers" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.GetUsers" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetSingleUser" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.GetSingleUser" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="AddUser" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.AddUser" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="UpdateUser" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.UpdateUser" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="DeleteUser" ajaxmethod="NTS.WEB.AjaxController.AjaxUser.DeleteUser" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetUserGroups" ajaxmethod="NTS.WEB.AjaxController.AjaxUserGroup.GetUserGroups" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetSingleUserGroup" ajaxmethod="NTS.WEB.AjaxController.AjaxUserGroup.GetSingleUserGroup" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="AddUserGroup" ajaxmethod="NTS.WEB.AjaxController.AjaxUserGroup.AddUserGroup" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="UpdateUserGroup" ajaxmethod="NTS.WEB.AjaxController.AjaxUserGroup.UpdateUserGroup" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="DeleteUserGroup" ajaxmethod="NTS.WEB.AjaxController.AjaxUserGroup.DeleteUserGroup" ajaxdllspacename="NTS.WEB.AjaxController"/>


  <ajaxaction ajaxname="GetEnergyAnalyseLineChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.GetEnergyAnalyseLineChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetEnergyAnalyseCompare" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.GetEnergyAnalyseCompare" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetEnergyAnalysePie" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.GetEnergyAnalysePie" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="ExportExcelEnergyAnalyse" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ExportExcelEnergyAnalyse" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetQuotaAnalyseChart" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.GetQuotaAnalyseChart" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetLoadForecastChart" ajaxmethod="NTS.WEB.AjaxController.AjaxLoadForecast.GetLoadForecastChart" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetAlarmDiagnose" ajaxmethod="NTS.WEB.AjaxController.AjaxAlarm.GetAlarmDiagnose" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetAlarmType" ajaxmethod="NTS.WEB.AjaxController.AjaxAlarm.GetAlarmType" ajaxdllspacename="NTS.WEB.AjaxController"/>


  <ajaxaction ajaxname="GetCostQuery" ajaxmethod="NTS.WEB.AjaxController.AjaxCostQuery.GetCostQuery" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="ExportExcelCostQuery" ajaxmethod="NTS.WEB.AjaxController.AjaxChart.ExportExcelCostQuery" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="GetAlarmList" ajaxmethod="NTS.WEB.AjaxController.AjaxAlarm.GetAlarmList" ajaxdllspacename="NTS.WEB.AjaxController"/>
  <ajaxaction ajaxname="GetAlarmIndexCount" ajaxmethod="NTS.WEB.AjaxController.AjaxAlarm.GetAlarmIndexCount" ajaxdllspacename="NTS.WEB.AjaxController"/>

  <ajaxaction ajaxname="objectItemTree4Test" ajaxmethod="NTS.WEB.AjaxController.AjaxTree.objectItemTree4Test" ajaxdllspacename="NTS.WEB.AjaxController"/>
</ajaxactionlist>