<?xml version="1.0"?>
<databaseList isEncryption="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.71eye.com/">
  <database name="NTSData" provider="Data.SqlServer">
    <!--<connectionString>server=192.168.0.60;database=NTS20140327;user id=sa;Password=iamnts;connection reset=false;Timeout=120;connection lifetime=30; min pool size=1; max pool size=50</connectionString>-->

    <!--<connectionString>server=JYJY\SQL2000;database=EMS_SIMPLE;user id=sa;Password=iamnts;connection reset=false;Timeout=120;connection lifetime=30; min pool size=1; max pool size=50</connectionString>-->
    <connectionString>server=.;database=EMSV1.1_Data;user id=sa;Password=1;connection reset=false;Timeout=120;connection lifetime=30; min pool size=1; max pool size=50</connectionString>

  </database>
</databaseList>