<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseListFile" value="bin\configs\Database.config"/>
    <add key="WCFListFile" value="bin\configs\WCF.config"/>
    <add key="WCFServer" value="bin\configs\Server.config"/>
    <add key="BaseMsgFile" value="bin\configs\BaseMsg.config"/>
    <add key="AjaxActionCenter" value="bin\configs\ajax.config"/>
    <add key="CurrentProject" value="bin\configs\project.config"/>
  </appSettings>
</configuration>