<?xml version="1.0"?>
<BECM_Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectName>武汉天河机场</ProjectName>
  <ProjectContent> 
    <![CDATA[ 
    <p>  武汉天河机场因坐落在武汉市黄陂区天河街境内，故名“武汉天河机场”。改革开放总设计师邓小平亲笔题写了武汉机场名。
    机场设施完备，可起降各种大型客机。2009年，机场的旅客吞吐量为1130.5万人次，在国内居第12位。</p>
    <p>  武汉天河机场距武汉长江大桥直线距离26公里，一期工程于1990年12月16日破土动工，1995年4月15日作为国家一级民用机场正式开航启用。</p>
  ]]>
  </ProjectContent>
  <ProjectUnit>南京天溯自动化控制系统有限公司 苏ICP备08102280号 总机：+86（025）68552201 87763031/32/33/35</ProjectUnit>
</BECM_Project>