<?xml version="1.0" encoding="utf-8"?>
<rewrite xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <rewrite name="login" path="/login" templet="html/login.vm" inherit="NTS.WEB.VM.Login" assembly="NTS.WEB.VM"/>
  <rewrite name="index" path="/index" templet="html/index.vm" inherit="NTS.WEB.VM.Login" assembly="NTS.WEB.VM"/>
  <rewrite name="home" path="/home" templet="html/home.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>

  <rewrite name="energy_analyses" path="/energy_analyses" templet="html/energy_analyses.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="energy_contrast" path="/energy_contrast" templet="html/energy_contrast.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="energy_order" path="/energy_order" templet="html/energy_order.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="equipment_monitoring" path="/home" templet="html/equipment_monitoring.vm" inherit="NTS.WEB.VM.Equipment" assembly="NTS.WEB.VM"/>
  <rewrite name="alarm_inquiry" path="/alarm_inquiry" templet="html/alarm_inquiry.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="device" path="/device" templet="html/device.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="report" path="/report" templet="html/report.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="loadforecast" path="/loadforecast" templet="html/load_forecast.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>

  <rewrite name="balance_analyse" path="/balance_analyse" templet="html/balance_analyse.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="quota_analyses" path="/quota_analyses" templet="html/quota_analyses.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="management_diagnosis" path="/management_diagnosis" templet="html/management_diagnosis.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="alarm" path="/alarm" templet="html/alarm.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="fee_search" path="/fee_search" templet="html/fee_search.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <rewrite name="fee_apportion" path="/fee_apportion" templet="html/fee_apportion.vm" inherit="NTS.WEB.VM.Home" assembly="NTS.WEB.VM"/>
  <!--不参与url重写，公共数据层使用-->
  <rewrite name="common" path="" templet="" inherit="NTS.WEB.VM.BasePage" assembly="NTS.WEB.VM"/>
</rewrite>