<?xml version="1.0" encoding="utf-8" ?>
<RewriterConfig>
  <Rules>

    <RewriterRule>
    <LookFor>~/login.html</LookFor>
    <SendTo>
      <![CDATA[~/index.aspx?CallIndex=login]]>
    </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/index.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=index]]>
      </SendTo>
      
      
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/home.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=home]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/energy_analyses.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=energy_analyses]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/energy_contrast.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=energy_contrast]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/energy_order.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=energy_order]]>
      </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/device.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=device]]>
      </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/alarm_inquiry.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=alarm_inquiry]]>
      </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/balance_analyse.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=balance_analyse]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/report.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=report]]>
      </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/quota_analyses.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=quota_analyses]]>
      </SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>~/load_forecast.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=loadforecast]]>
      </SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/management_diagnosis.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=management_diagnosis]]>
      </SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>~/alarm.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=alarm]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/fee_search.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=fee_search]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/fee_apportion.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=fee_apportion]]>
      </SendTo>
    </RewriterRule>

    

  </Rules>
  </RewriterConfig>