<?xml version="1.0" encoding="utf-8"?>
<ArrayOfServerModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerModel Server="NTS" ServiceName="UserLogin" ServiceType="ServiceInterface.IUser">
    <Binding>BasicHttpBinding</Binding>
    <Edr>User.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="EneryQuery" ServiceType="ServiceInterface.IQueryEnery">
    <Binding>BasicHttpBinding</Binding>
    <Edr>BaseData.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="ObjectTree" ServiceType="ServiceInterface.IObjectTree">
    <Binding>BasicHttpBinding</Binding>
    <Edr>ObjectInfo.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="Index" ServiceType="ServiceInterface.IIndexEnery">
    <Binding>BasicHttpBinding</Binding>
    <Edr>IndexService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="Chart" ServiceType="ServiceInterface.IChart">
    <Binding>BasicHttpBinding</Binding>
    <Edr>Chart.svc</Edr>
  </ServerModel>
 
  <ServerModel Server="NTS" ServiceName="WarningAnalysis" ServiceType="ServiceInterface.IWarningAnalysisService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>WarningAnalysisService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="BalanceAnalysis" ServiceType="ServiceInterface.IBalanceAnalysisService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>BalanceAnalysisService.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="MenuTreeService" ServiceType="ServiceInterface.IMenuTreeService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>MenuTreeService.svc</Edr>
  </ServerModel>


  <ServerModel Server="NTS" ServiceName="CoplexService" ServiceType="ServiceInterface.IComplexReportService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>ComplexReportService.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="AreaTree" ServiceType="ServiceInterface.IAreaTreeService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>AreaTreeService.svc</Edr>
  </ServerModel>


  <ServerModel Server="NTS" ServiceName="EnergyContrastService" ServiceType="ServiceInterface.IEnergyContrastService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>EnergyContrastService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="UserGroupService" ServiceType="ServiceInterface.IUserGroupService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>UserGroupService.svc</Edr>
  </ServerModel>


  <ServerModel Server="NTS" ServiceName="LoadForecastService" ServiceType="ServiceInterface.ILoadForecastService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>LoadForecastService.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="AlarmDiagnoseService" ServiceType="ServiceInterface.IAlarmDiagnoseService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>AlarmDiagnoseService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="CostQueryService" ServiceType="ServiceInterface.ICostQueryService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>CostQueryService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="AlarmService" ServiceType="ServiceInterface.IAlarmService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>AlarmService.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="Fee_ApportionService" ServiceType="ServiceInterface.IFee_ApportionService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>Fee_ApportionService.svc</Edr>
  </ServerModel>
  
  
</ArrayOfServerModel>