<?xml version="1.0"?>
<ajaxactionlist xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ajaxaction ajaxname="UserLogin" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUser.UserLogin" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="RemeberMyPass" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUser.RemeberMyPass" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!-- 费率设置 -->
  <ajaxaction ajaxname="SaveCommPrice" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.SaveCommPrice" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetRateInfoList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.GetRateInfoList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveRatePrice" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.SaveRatePrice" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveTimePrice" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.SaveTimePrice" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="indexItem" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.IndexItem" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetPeriodEnum" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.GetPeriodEnum" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeleteStepByID" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.DeleteStepByID" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeletePeriodByID" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.DeletePeriodByID" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetBillItem" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxRateManager.GetBillItem" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <ajaxaction ajaxname="Logout" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUser.Logout" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!--定额-->
  <ajaxaction ajaxname="GetQuotaInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaInfo.GetQuotaInfo" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetQuotaLogs" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaInfo.GetQuotaLogs" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DealQuota" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaInfo.DealQuota" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <!--日志-->
  <ajaxaction ajaxname="GetSystemLogs" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxSysLog.GetSysLog" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="ExportSysLogExcel" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxSysLog.ExportSysLogExcel" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <!--用户配置-->
  <ajaxaction ajaxname="GetUserList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.GetUserList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="AddUser" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.InsertUser" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="EditUser" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.UpdateUser" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeleteUser" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.DeleteUser" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetUserInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.GetUserInfo" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetAllUserGroups" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserInfo.GetAllUserGroup" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
 
  <!--用户组配置-->
  <ajaxaction ajaxname="GetUserGroupList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserGroupInfo.GetUserGroupList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveUserGroup" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserGroupInfo.SaveUserGroup" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetUserGroupInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserGroupInfo.GetUserGroupInfo" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeleteUserGroup" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserGroupInfo.DeleteUserGroup" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="IsContainUser" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxUserGroupInfo.ContainUser" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <!--设备区域配置-->
  <ajaxaction ajaxname="GetDevicePropInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDeviceProp.GetDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveDeviceProp" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDeviceProp.SaveDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!--设备能源配置-->
  <ajaxaction ajaxname="GetDeviceItemInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDeviceItem.GetDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveDeviceItem" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDeviceItem.SaveDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!--设备费率配置-->
  <ajaxaction ajaxname="GetDevicePayTypeInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDevicePayType.GetDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveDevicePayType" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxDevicePayType.SaveDeviceProp" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <ajaxaction ajaxname="SysLog" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxSysLog.GetSysLog" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <ajaxaction ajaxname="objectItemTree" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxTree.objectItemTree" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!-- 分摊配置 -->
  <ajaxaction ajaxname="GetTreeObj" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlloction.GetTreeObj" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveAlloctionAndLog" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlloction.SaveAlloctionAndLog" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetConfigLog" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlloction.GetConfigLog" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetConfigLogDetail" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlloction.GetConfigLogDetail" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <ajaxaction ajaxname="GetDeviceListByAreaId" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxImport.GetDeviceListByAreaId" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="getObjectEnery" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxImport.GetObjectEnery" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="saveObjectEnery" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxImport.SaveObjectEnery" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="getHistoryList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxImport.ShowImportDataList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <ajaxaction ajaxname="excelImport" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxImport.ExcelImport" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  
  <!-- 告警配置 -->
  <ajaxaction ajaxname="GetAlarmTypeList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.GetAlarmTypeList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="UpdateAlarmEvent" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.UpdateAlarmEvent" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetAlarmEvent" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.GetAlarmEvent" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="UpdateAlarmEventByID" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.UpdateAlarmEventByID" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>

  <!--定额告警-->
  <ajaxaction ajaxname="GetQuotaAlarmList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaAlarmInfo.GetQuotaAlarmList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="GetQuotaAlarmInfo" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaAlarmInfo.GetQuotaAlarmInfo" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveQuotaAlarm" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaAlarmInfo.SaveQuotaAlarm" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeleteQuotaAlarm" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxQuotaAlarmInfo.DeleteQuotaAlarm" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>


  <!-- 告警分值配置 -->
  <ajaxaction ajaxname="GetAlarmScaleList" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.GetAlarmScaleList" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="DeleteAlarmScaleByID" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.DeleteAlarmScaleByID" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
  <ajaxaction ajaxname="SaveAlarmScale" ajaxmethod="NTS.EMS.Config.AjaxHandler.AjaxAlarmSetting.SaveAlarmScale" ajaxdllspacename="NTS.EMS.Config.AjaxHandler"/>
</ajaxactionlist>
