<?xml version="1.0" encoding="utf-8"?>
<AlarmTypes>
    <QoutaAlarmlist>
      <QoutaAlarm Value="1021" Name="定额一级预警" />
      <QoutaAlarm Value="1022" Name="定额二级预警" />
      <QoutaAlarm Value="1023" Name="定额一级告警" />
      <QoutaAlarm Value="1024" Name="定额二级告警" />
    </QoutaAlarmlist>
</AlarmTypes>