<?xml version="1.0" encoding="utf-8"?>
<Servers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Serverslist>
        <!--<ServiceServer HostName="NTS" HostPath="http://192.168.10.235:9001/" />-->
      <ServiceServer HostName="NTS" HostPath="http://127.0.0.1:9001/" />
    </Serverslist>
</Servers>