<?xml version="1.0" encoding="utf-8"?>
<rewrite xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--不参与url重写，公共数据层使用-->
  <rewrite name="login" path="" templet="html/login.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="index" path="" templet="html/index.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="import" path="" templet="html/import.vm" inherit="NTS.EMS.Config.Controler.ImportView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="rate" path="" templet="html/rate.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>

  <rewrite name="systemlog" path="" templet="html/systemlog.vm" inherit="NTS.EMS.Config.Controler.SystemLog" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="alarmSetting" path="" templet="html/alarmSetting.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="alarmScaleSetting" path="" templet="html/alarmScaleSetting.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="alloction" path="" templet="html/alloction.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>

    <rewrite name="common" path="" templet="" inherit="NTS.EMS.Config.Controler.BasePage" assembly="NTS.EMS.Config.Controler"/>

  <rewrite name="userConfig" path="" templet="html/userConfig.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="userGroupConfig" path="" templet="html/userGroupConfig.vm" inherit="NTS.EMS.Config.Controler.UserGroupConfig" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="area_DeviceConfig" path="" templet="html/area_DeviceConfig.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="deviceItemConfig" path="" templet="html/deviceItemConfig.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="devicePayTypeConfig" path="" templet="html/devicePayTypeConfig.vm" inherit="NTS.EMS.Config.Controler.DevicePayType" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="home" path="" templet="html/home.vm" inherit="NTS.EMS.Config.Controler.BaseView" assembly="NTS.EMS.Config.Controler"/>
  <rewrite name="quotaAlarmConfig" path="" templet="html/quotaAlarmConfig.vm" inherit="NTS.EMS.Config.Controler.QuotaAlarm" assembly="NTS.EMS.Config.Controler"/>
</rewrite>