<?xml version="1.0" encoding="utf-8" ?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/login.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=login]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/index.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=index]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/rate.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=rate]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/import.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=import]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/systemlog.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=systemlog]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/alarmSetting.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=alarmSetting]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/userConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=userConfig]]>
      </SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/userGroupConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=userGroupConfig]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/alloction.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=alloction]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/area_DeviceConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=area_DeviceConfig]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/deviceItemConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=deviceItemConfig]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/devicePayTypeConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=devicePayTypeConfig]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/home.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=home]]>
      </SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/quotaAlarmConfig.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=quotaAlarmConfig]]>
      </SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/alarmScaleSetting.html</LookFor>
      <SendTo>
        <![CDATA[~/index.aspx?CallIndex=alarmScaleSetting]]>
      </SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>