<?xml version="1.0" encoding="utf-8"?>
<ArrayOfServerModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerModel Server="NTS" ServiceName="UserLogin" ServiceType="WEB.ServiceInterface.IUser">
    <Binding>BasicHttpBinding</Binding>
    <Edr>User.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="CoplexService" ServiceType="ServiceInterface.IComplexReportService">
    <Binding>BasicHttpBinding</Binding>
    <Edr>ComplexReportService.svc</Edr>
  </ServerModel>

  <ServerModel Server="NTS" ServiceName="Chart" ServiceType="ServiceInterface.IChart">
    <Binding>BasicHttpBinding</Binding>
    <Edr>Chart.svc</Edr>
  </ServerModel>
  
  <!--<ServerModel Server="NTS" ServiceName="EneryQuery" ServiceType="ServiceInterface.IQueryEnery">
    <Binding>BasicHttpBinding</Binding>
    <Edr>BaseData.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="ObjectTree" ServiceType="ServiceInterface.IObjectTree">
    <Binding>BasicHttpBinding</Binding>
    <Edr>ObjectInfo.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="Index" ServiceType="ServiceInterface.IIndexEnery">
    <Binding>BasicHttpBinding</Binding>
    <Edr>IndexService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="Chart" ServiceType="ServiceInterface.IChart">
    <Binding>BasicHttpBinding</Binding>
    <Edr>Chart.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="QuerySysLog" ServiceType="ServiceInterface.IQuerySysLog">
    <Binding>BasicHttpBinding</Binding>
    <Edr>QuerySysLog.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="OperateQuota" ServiceType="ServiceInterface.IQuerySysLog">
    <Binding>BasicHttpBinding</Binding>
    <Edr>OperateQuota.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="Rate" ServiceType="ServiceInterface.IRate">
    <Binding>BasicHttpBinding</Binding>
    <Edr>RateService.svc</Edr>
  </ServerModel>
  <ServerModel Server="NTS" ServiceName="LogAndExpiction" ServiceType="ServiceInterface.ILogAndExpiction">
    <Binding>BasicHttpBinding</Binding>
    <Edr>LogAndExpiction.svc</Edr>
  </ServerModel>-->
</ArrayOfServerModel>