<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lazymouse">
      <section name="globalSettings" type="Framework.Configuration.GlobalSettingsSection,Framework.Configuration" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ConnectionString_SQL" connectionString="server=192.168.10.235;database=NTS-9000_EMS;user id=sa;password=iamnts;"/>-->
    <!--<add name="ConnectionString_SQL" connectionString="server=.;database=NTS20140327;user id=sa;password=iamnts;"/>-->
    <!--<add name="ConnectionString_SQL" connectionString="server=192.168.1.118\SQL2000;database=EMS1.1Data;user id=sa;password=iamnts;"/>-->
    <add name="ConnectionString_SQL" connectionString="server=192.168.10.80;database=EMS1.1Data_Test;user id=sa;password=iamnts;"/>
  </connectionStrings>
  <lazymouse>
    <globalSettings filePath="bin\Configs\GlobalSettings.config">
    </globalSettings>
  </lazymouse>
  <appSettings>
    <add key="DataCoreName" value="NTS.WEB.DAL"/>
    <add key="WarmCode" value="04000"/>
    <add key="ShopLevel" value="2"/>
    <add key="realtimedataurl" value="http://localhost:8732/RealDataService/"/>
    <add key="WarningTypeXmlPath" value="bin/configs/WarningType.xml"/>
    <add key="ReportTypeXmlPath" value="bin/configs/ReportType.xml"/>
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding2" maxReceivedMessageSize="97108864000000" allowCookies="true">
          <readerQuotas maxStringContentLength="999999999"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <!--<services>
      <service behaviorConfiguration="" name="ServiceLibrary.User">
        <endpoint address="" binding="wsHttpBinding" contract="NTS.WEB.ServiceInterface.IUser"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/User"/>
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="" name="ServiceLibrary.IndexEnery">
        <endpoint address="" binding="wsHttpBinding" contract="NTS.WEB.ServiceInterface.IIndexEnery" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/IndexService"/>
          </baseAddresses>
        </host>
      </service>
    </services>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>